.tambahanalbum{
    border: 2px solid #7C924E;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
}

.tambahanalbum form input{
    background-color: white;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
}

.tambahanalbum form input text{
    width: 600px;
    size: 40;
}

.editalbum{
    border: 2px solid #7C924E;
    height: 850px;
    padding: 10px;
    box-sizing: border-box;
}

.editalbum form input{
    background-color: white;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
}

.editalbum form input text{
    width: 600px;
    size: 40;
}

.edittopnews{
    border: 2px solid #7C924E;
    height: 550px;
    padding: 10px;
    box-sizing: border-box;
}

.edittopnews form input{
    background-color: white;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
}

.edittopnews form input text{
    width: 600px;
    size: 40;
}